<?xml version="1.0" encoding="UTF-8"?>


<!-- beans tag (spring_schema) -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- bean tag -->
	 <bean id="em" class="com.emertxe.Emp">
        <constructor-arg ref="empl" />
    </bean>


    <bean id="empl" class="com.emertxe.Employee">

        <constructor-arg type="java.lang.String">

            <value>likhitha</value>

        </constructor-arg>

        <constructor-arg type="int">

          <value>27</value>

        </constructor-arg>

        <constructor-arg type="java.lang.String">

            <value>computers</value>

        </constructor-arg>

    </bean>

</beans>
