<?xml version="1.0" encoding="UTF-8"?>


<!--  beans tag (spring_schema)  -->
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- bean tag -->
<!-- 	<bean id ="emp" class="Employee">
		<property name="id" value="1"/>
		<property name="department" value="Account"/>
		
	</bean>


	<bean id="Manager" autowire="byName" class="Manager">
		<property name="age" value="28"></property>
		<property name="name" value="hima"></property>
	
	</bean> -->
	
<!-- 	
<bean id ="Employee" class="Employee">
		<property name="id" value="1"/>
		<property name="department" value="Account"/>
		
	</bean>


	<bean id="Manager" autowire="byType" class="Manager">
		<property name="age" value="28"></property>
		<property name="name" value="hima"></property>
	
	</bean> -->
	
	
	
	
 	<bean id ="Employee" class="Employee">
		<property name="id" value="1"/>
		<property name="department" value="Account"/>
		
	</bean>

	<bean id="Manager" autowire="constructor" class="Manager">
		<constructor-arg index="0" value="hima"> </constructor-arg>
		<constructor-arg index="1" value="28"></constructor-arg>
		
	
	</bean>
</beans>