<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">





	<bean id="rep" class="com.Report">

		<property name="studentSet">


			<set>

				<value>100</value>
				<value>200</value>
				<value>100</value>
				
				
				<bean id="std" class="com.Student">

					<property name="id" value="11"></property>

					<property name="name" value="Haksung"></property>

					<property name="address" value="seoul"></property>

				</bean>

			
			</set>



		</property>
	</bean>
</beans>
