<?xml version="1.0" encoding="UTF-8"?>


<!-- beans tag (spring_schema) -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- bean tag -->
	<bean id="rt" class="Report">
		<property name="list" >
		<list>

			<bean id="c1" class="Customer">
				<property name="name" value="likhitha" />
				<property name="age" value="27" />
				<property name="address" value="bangalore" />

			</bean>

			<bean id="c2" class="Customer">
				<property name="name" value="hima" />
				<property name="age" value="28" />
				<property name="address" value="Detroit" />


			</bean>

			<bean id="c3" class="Customer">
				<property name="name" value="tanny" />
				<property name="age" value="25" />
				<property name="address" value="Detroit" />


			</bean>
		</list>
	</property>
	</bean>

</beans>

